---
export function getStaticPaths() {
  return [
    {params: {articleType: 'noticias'}},
    {params: {articleType: 'analisis'}},
    {params: {articleType: 'articulos'}},
  ];
}

const { articleType } = Astro.params;

import {getArticlesByType} from "../lib/api.js"

const articles = await getArticlesByType(articleType)
import Layout from "../layouts/Layout.astro"
import Article from '../components/Article.astro'
import PageControls from '../components/PageControls.astro';
import { firstLetterUpperCase } from "../lib/utils/dateFormatter";
---

<Layout title={firstLetterUpperCase(articleType)}>
  <main>
    <h1>{articleType.toUpperCase()}</h1>
            <ul>
                {articles.map((articulo) => (
                    <Article article={articulo}/>
                ))}
        </ul>
        <PageControls pageType={articleType} pageNum = 1/>
    </main>
</Layout>
