---
import Layout from '../layouts/Layout.astro';
import { getArticles } from '../lib/api';
import ArticleList from "../components/home/ArticleList.astro"
import FirstArticle from '../components/FirstArticle.astro'
import { getArticlesByType } from '../lib/api';

const latestReviews = await getArticlesByType('analisis')
const latestArticles = await getArticlesByType('articulos')
const latestNews = await getArticlesByType('noticias')

const articles = await getArticles()
const firstArticle = articles[0]
const lastNew = latestNews[0]
const restNews = latestNews.slice(1,4)
const lastReview = latestReviews[0]
const restReviews = latestReviews.slice(1,4)
const lastArticle = latestArticles[0]
const restArticles = latestArticles.slice(1,4)
const rest = articles.slice(1,4)
---

<Layout title="Welcome to Astro.">
	<main>
		<FirstArticle article={firstArticle}/>
	<section>
	<h3>Últimos posts</h3>
		<ul>
			{rest.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastNew}/>
	<section>
		<a href="/noticias" title="Noticias">Últimas Noticias</a>
		<ul>
			{restNews.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastReview}/>
	<section>
	<a href="/analisis" title="Análisis">Últimos Análisis</a>
		<ul>
			{restReviews.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastArticle}/>
	<section>
		<a href="/articulos" title="Artículos">Últimos Artículos</a>
		<ul>
			{restArticles.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	</main>
</Layout>

<style>
	section{
		background: radial-gradient(to top, #05050a 80%, white);
	}
ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crea 3 columnas de igual ancho por defecto */
    grid-gap: 20px;
}

@media screen and (max-width: 1000px) {
    ul {
        grid-template-columns: repeat(2, 1fr); /* Cambia a 2 columnas cuando el ancho de la pantalla sea menor o igual a 768px */
    }
}

@media screen and (max-width: 700px) {
    ul {
        display: flex;
		flex-direction: column; /* Cambia a 1 columna cuando el ancho de la pantalla sea menor o igual a 480px */
    }
}

</style>
