---
import Layout from '../layouts/Layout.astro';
import { getArticles } from '../lib/api';
import ArticleList from "../components/home/ArticleList.astro"
import FirstArticle from '../components/FirstArticle.astro'
import { getArticlesByType } from '../lib/api';

const latestReviews = await getArticlesByType('analisis')
const latestArticles = await getArticlesByType('articulos')
const latestNews = await getArticlesByType('noticias')

const articles = await getArticles()
const firstArticle = articles[0]
const lastNew = latestNews[0]
const restNews = latestNews.slice(1,4)
const lastReview = latestReviews[0]
const restReviews = latestReviews.slice(1,4)
const lastArticle = latestArticles[0]
const restArticles = latestArticles.slice(1,4)
const rest = articles.slice(1,4)
---

<Layout title="Taberna Precursor | Noticias de Videojuegos">
	<main>
		<FirstArticle article={firstArticle}/>
	<section>
	<h2 class="text-xl mb-4">Últimos posts</h2>
		<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{rest.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastNew}/>
	<section>
		<a href="/noticias" title="Noticias" class="text-xl mb-4 hover:underline">Últimas Noticias</a>
		<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{restNews.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastReview}/>
	<section>
	<a href="/analisis" title="Análisis" class="text-xl mb-4 hover:underline">Últimos Análisis</a>
		<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{restReviews.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastArticle}/>
	{restArticles.length > 0 ?
		<section>
			<a href="/articulos" title="Artículos" class="text-xl mb-4 hover:underline">Últimos Artículos</a>
			<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
				{restArticles.map((articulo) =>(
					<ArticleList article={articulo}/>
				))}
			</ul>
		</section>
	: null}
	</main>
</Layout>
