---
import Layout from '../layouts/Layout.astro';
import ArticleList from "../components/home/ArticleList.astro"
import FirstArticle from '../components/FirstArticle.astro'
import { getCollection } from "astro:content";

const publishedReviewEntries = await getCollection("analisis", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedReviewEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

const publishedArticleEntries = await getCollection("articulos", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedArticleEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

const publishedNewsEntries = await getCollection("noticias", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedNewsEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

// Combine all entries into one array
const allPublishedEntries = publishedNewsEntries.concat(publishedArticleEntries, publishedReviewEntries);

// Sort combined entries by publication date
allPublishedEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});

const firstArticle = allPublishedEntries[0]
console.log(firstArticle);

const rest = allPublishedEntries.slice(1,4)
const lastReview = publishedReviewEntries[0]
const lastNew = publishedNewsEntries[0]
const lastArticle = publishedArticleEntries[0]
const restArticles = publishedArticleEntries.slice(1,4)
const restNews = publishedNewsEntries.slice(1,4)
const restReviews = publishedReviewEntries.slice(1,4)
---

<Layout title="Taberna Precursor | Noticias de Videojuegos">
	<main>
		<FirstArticle article={firstArticle}/>
	<section>
	<h2 class="text-xl mb-4">Últimos posts</h2>
		<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{rest.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastNew}/>
	<section>
		<a href="/noticias" title="Noticias" class="text-xl mb-4 hover:underline">Últimas Noticias</a>
		<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{restNews.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastReview}/>
	<section>
	<a href="/analisis" title="Análisis" class="text-xl mb-4 hover:underline">Últimos Análisis</a>
		<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{restReviews.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastArticle}/>
	{restArticles.length > 0 ?
		<section>
			<a href="/articulos" title="Artículos" class="text-xl mb-4 hover:underline">Últimos Artículos</a>
			<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
				{restArticles.map((articulo) =>(
					<ArticleList article={articulo}/>
				))}
			</ul>
		</section>
	: null}
	</main>
</Layout>
