---
import Layout from '../layouts/Layout.astro';
import ArticleList from "../components/home/ArticleList.astro"
import FirstArticle from '../components/FirstArticle.astro'
import { getPosts } from '../lib/api/get-posts.js';
import { getAllPosts } from '../lib/api/get-all-posts.js';

const publishedReviewEntries = await getPosts('analisis')
const publishedArticleEntries = await getPosts('articulos')
const publishedNewsEntries = await getPosts('noticias')

const allPublishedEntries = await getAllPosts(publishedNewsEntries, publishedArticleEntries, publishedReviewEntries)

const firstArticle = allPublishedEntries[0]
const rest = allPublishedEntries.slice(1,4)
const lastReview = publishedReviewEntries[0]
const lastNew = publishedNewsEntries[0]
const lastArticle = publishedArticleEntries[0]
const restArticles = publishedArticleEntries.slice(1,4)
const restNews = publishedNewsEntries.slice(1,4)
const restReviews = publishedReviewEntries.slice(1,4)
---

<Layout title="Taberna Precursor | Noticias de Videojuegos" description='Web de noticias, análisis y artículos de videojuegos.' canonical='https://taberna-precursor.vercel.app/'>
	<main>
		<FirstArticle article={firstArticle}/>
	<section>
	<h2 class="text-xl mb-4">Últimos posts</h2>
		<ul class="fex-col sm:grid lg:grid-cols-3 gap-4">
			{rest.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastNew}/>
	<section>
		<a href="/noticias" title="Noticias" class="text-xl mb-4 hover:underline">Últimas Noticias</a>
		<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{restNews.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastReview}/>
	<section>
	<a href="/analisis" title="Análisis" class="text-xl mb-4 hover:underline">Últimos Análisis</a>
		<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
			{restReviews.map((articulo) =>(
				<ArticleList article={articulo}/>
			))}
		</ul>
	</section>
	<FirstArticle article={lastArticle}/>
	{restArticles.length > 0 ?
		<section>
			<a href="/articulos" title="Artículos" class="text-xl mb-4 hover:underline">Últimos Artículos</a>
			<ul class="fex-col sm:grid sm:grid-cols-2 md:grid-cols-3 gap-4">
				{restArticles.map((articulo) =>(
					<ArticleList article={articulo}/>
				))}
			</ul>
		</section>
	: null}
	</main>
</Layout>
