---
const {article} = Astro.props
import { Image } from 'astro:assets'
import {getAuthorById} from '../lib/api.js'
import {dateFormatter} from '../lib/utils/dateFormatter.js'
import AuthorInfo from './AuthorInfo.astro'

const author = await getAuthorById(article.created_by_id)

const published = dateFormatter(article.published_at)
---

<article class="flex flex-col sm:flex-row sm:gap-4 sm:mb-8 mb-4">
    <Image src={article.img} alt={article.img_alternate} width="320" height="182"/>
    <section>
        <a href=`/${article.type}` title={article.type} id="article-type" class="text-teal-300 text-base">{article.type.toUpperCase()}</a>
        <a id="title" class="text-2xl" href=`/${article.type}/${article.slug}`>{article.title}</a>
        <AuthorInfo author={author} published={published}/>
    </section>
</article>

<style>
    section{
        display: flex;
        flex-direction: column;
        height: 182px;
        align-items: start;
        justify-content: end;
    }

    #title{
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
</style>