---
const {pageNum,search, query, pageType} = Astro.props
---

<nav>
    {(pageNum === 1) ?
        <a href={search ? `/search/${query}/page/${parseInt(pageNum) + 1}` : pageType ? `/${pageType}/page/${parseInt(pageNum) + 1}` : `/page/${parseInt(pageNum) + 1}`} title="Siguiente página">Siguiente Página</a> : 
        <a href={search ? `/search/${query}/page/${parseInt(pageNum) - 1}` : pageType ? `/${pageType}/page/${parseInt(pageNum) - 1}` : `/page/${parseInt(pageNum) - 1}`} title="Página anterior">Página anterior</a>
        <a href={search ? `/search/${query}/page/${parseInt(pageNum) + 1}` : pageType ? `/${pageType}/page/${parseInt(pageNum) + 1}` : `/page/${parseInt(pageNum) + 1}`} title="Siguiente página">Siguiente Página</a>
    }
</nav>
