---
import { getAuthorById } from "../lib/api"
import { dateFormatter } from "../lib/utils/dateFormatter"
import AuthorInfo from "./AuthorInfo.astro"
import { unified } from 'unified'
import remarkParse from 'remark-parse'
import remarkHtml from 'remark-html'
import RelatedPosts from '../components/RelatedPosts.astro'
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
import ShareBtn from "./ShareBtn.astro"

const {article} = Astro.props
const author = await getAuthorById(article.created_by_id)
const published = dateFormatter(article.published_at)

// Convertir Markdown a HTML
const processor = unified().use(remarkParse).use(remarkHtml)
const htmlContent = await processor.process(article.body)
---

<Layout title={article.title}>
    <main>
        <section class="flex flex-col gap-4 max-w-3xl mx-auto mb-4 mt-8">
            <Image width={900} height={540} id="cabecera-img" src={article.img} alt={article.img_alternate}/>
            <a href={`/${article.type}`} title={article.type} id="article-type">{article.type.toUpperCase()}</a>
            <h1 class=" text-4xl">{article.title}</h1>
            <h3>Aqui deberia ir un subtitulo // añadir a la base de datos</h3>
        </section>
        <section class="flex items-center max-w-3xl justify-between mx-auto">
            <AuthorInfo author={author} published={published}/>
            <ShareBtn/>
        </section>
        <div class="divider max-w-3xl mx-auto"></div>
        <article class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-4 leading-relaxed">{htmlContent}</article>
        <RelatedPosts type={article.type} id={article.id}/>
    </main>
</Layout>

<style>
    #cabecera-img{
        width: 100%;
        max-width: 1200px;
        height: auto;
    }
        #article-type{
        color: #6ADFCD;
    }

    h1{
        color: #FECF02;
        font-weight: bold;
    }

    #article-type:hover{
        text-decoration: underline;
    }

    article{
        border-bottom: 2px solid #6ADFCD;
        padding-bottom: 2rem;
    }
</style>