---
import { getAuthorById } from "../lib/api"
import { dateFormatter } from "../lib/utils/dateFormatter"
import AuthorInfo from "./AuthorInfo.astro"
import { unified } from 'unified'
import remarkParse from 'remark-parse'
import remarkHtml from 'remark-html'
import Layout from "../layouts/Layout.astro"
import RelatedPosts from '../components/RelatedPosts.astro'

const {article} = Astro.props
const author = await getAuthorById(article.created_by_id)
const published = dateFormatter(article.published_at)

// Convertir Markdown a HTML
const processor = unified().use(remarkParse).use(remarkHtml)
const htmlContent = await processor.process(article.body)
---

<Layout title={article.title}>
    <main>
        <img id="cabecera-img" src={article.img} alt={article.img_alternate}/>
        <a href={`/${article.type}`} title={article.type} id="article-type">{article.type.toUpperCase()}</a>
        <h1>{article.title}</h1>
        <h3>Aqui deberia ir un subtitulo // añadir a la base de datos</h3>
        <AuthorInfo author={author} published={published}/>
        <article>{htmlContent}</article>
        <RelatedPosts type={article.type} id={article.id}/>
    </main>
</Layout>

<style>
    #cabecera-img{
        width: 100%;
        max-width: 1200px;
        height: auto;
    }
        #article-type{
        color: #6ADFCD;
        font-weight: bold;
    }

    h1{
        color: #FECF02;
    }

    #article-type:hover{
        text-decoration: underline;
    }

    article{
        border-bottom: 2px solid #6ADFCD;
        padding-bottom: 2rem;
    }
</style>