---
import RelatedPosts from '../components/RelatedPosts.astro'
import { Image } from "astro:assets"
import ShareBtn from "./ShareBtn.astro"

const {entry} = Astro.props
const { Content } = await entry.render();
---

    <article class=" max-w-3xl mt-24 mx-9 md:mx-auto">
        <Image src={entry.data.image.src} alt={entry.data.image.alt} width={750} height={400} class="mb-4" />
        <span class=" text-teal-300 uppercase tracking-wider text-sm font-medium">
          {entry.collection}
        </span>
        <h1
          class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight">
          {entry.data.title}
        </h1>
        <div class="flex gap-2 mt-3 items-center flex-wrap md:flex-nowrap">
          <span class="text-gray-400">
            {entry.data.author}
          </span>
          <span class="text-gray-400">•</span>
          <time
            class="text-gray-400"
            datetime={entry.data.publishDate.toISOString()}>
            {entry.data.publishDate.toDateString()}
          </time>
          <span class="text-gray-400 hidden md:block">•</span>
          <div class="w-full md:w-auto flex flex-wrap gap-3 items-center">
            {
              entry.data.tags.map((tag) => (
                <span class="text-sm text-gray-500">#{tag}</span>
              ))
            }
          <ShareBtn/>
          </div>
        </div>
        <div class="divider"></div>
        <div class="lg:mx-auto prose prose-lg grid gap-6 mt-6 max-w-3xl">
          <Content />
        </div>
        <div class="text-center mt-8">
          <a
          href="/analisis"
          class=" btn btn-solid-primary bg-teal-700 px-5 py-3 rounded-md text-teal-50 hover:bg-teal-600 transition"
          >← Volver a {entry.collection}</a
          >
          <div class="divider mt-8"></div>
        </div>
        <RelatedPosts collection={entry.collection} slug={entry.slug}/>
      </article>

<style>
    #cabecera-img{
        width: 100%;
        max-width: 1200px;
        height: auto;
    }
        #article-type{
        color: #6ADFCD;
    }

    h1{
        color: #FECF02;
        font-weight: bold;
    }

    #article-type:hover{
        text-decoration: underline;
    }

    article{
        padding-bottom: 2rem;
    }
</style>